* {
  box-sizing: border-box;
  margin: auto;
}

.main {
  width: 400px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #F5F5F5;
}

/*Info Styling*/
.info-div {
  text-align: center;
}

.info-head img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.info-head h3 {
  color: #F47D27;
}

.info-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.info-links span {
  font-size: 18px;
}

.info-links a {
  border-style: solid;
  border-radius: 10px;
  width: 35%;
  padding: 7px;
  text-decoration: none;
}

.link-1 {
  border-color: #D1D5DB;
  color: #2B283A;
}

.link-1:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.5);
}

.link-2 {
  border-color: #297FE5;
  color: #FFF;
  background-color: #297FE5;
}

.link-2:hover {
  box-shadow: 0 4px 8px 0 rgba(41, 127, 229, 0.5), 0 6px 20px 0 rgba(41, 127, 229, 0.5);
}

/*About Styling*/
.about-div {
  padding: 0 50px;
  margin-top: 20px;
}


/*Interests Styling*/
.interests-div {
  padding: 0 50px;
  margin-top: 20px;
}

/*Footer Styling*/
.footer-links {
  text-align: center;
  background-color: #D5D4D8;
  height: 40px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-links a {
  font-size: 34px;
  color: #918E9B;
  margin-left: 10px;
  margin-right: 10px;
}

/*Dark mode Styling*/
@media (prefers-color-scheme: dark) {
  .main {
    background-color: #1A1B21;
  }

  /*Info Styling*/
  .info-head h2, .info-head p {
    color: #F5F5F5;
  }

  .link-1 {
    background-color: #D1D5DB;
  }

  /*About and Interests Styling*/
  .about-div h2, .interests-div h2 {
    color: #fff;
  }

  .about-div p, .interests-div p {
    color: #DCDCDC;
  }

  /*Footer Styling*/
  .footer-links {
    background-color: #161619;
  }

}